.bg-orange-500 {
  background-color: #ffa600;
}
.w-32{
  width:52rem;
}
.h-32{
  height:27rem;
}
.text-black-500{
  color:black;
}
.ml-64{
  margin-left: 43rem;
}
.w-46{
  width: 692px;
  height: 50vh;
}
.ml-38{
  margin-left:24rem;
  
}
.w-69{
  width: 75%;;
}
.m-igive{
  margin-left:748px;
}
.w-400{
  width: 400px;
}
